<!DOCTYPE html>
<html>
  <head>
    <title>LaborTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <div class="container">
    <h3>Pack Singles Labor Planning Tool</h3>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
